body{
  
    background: linear-gradient(
            to top, 
            #2c56ff 25%, 
            #2c56ff 0%, 
            #1e65b6 50%, 
            #b6701e 100%
          );
          display: flex;
          align-items: center;
          justify-content: center;
          /* background-repeat: no-repeat; */
}


@media screen and (max-width: 500px) {
    .board-background
    {
        background-color: rgb(8, 8, 8);
        border: 5px solid rgb(251, 247, 247);
    width: 70%;
    height: 80%;
   
    
    }
  }
  

  /* On screens that are 600px or less, set the background color to olive */
  @media screen and (max-width: 1200px) {
    .board-background
{
    background-color: rgb(8, 8, 8);
border: 5px solid rgb(251, 247, 247);
width: 70%;
    height: 80%;
}
}
    @media screen and (min-width: 1280px) {
       body
       {
        
height: 100vh;
       }
        .board-background
        {
            background-color: rgb(8, 8, 8);
            border:5px solid rgb(251, 247, 247);
        width: 30%;
        height: 64%;
        padding: 10px;
        }

    }
.removebox
{
    display: none;
}
#namewinner
{
    font-size: 30px;
}

.rows{
    border: 1px solid black;
    width: 100%;
    display: flex;
}
.box
{
    border: 1px solid black;

    
    width: 25%;
    height: 30px;
}


#winnerboard
{
    display: none;
    border: 3px solid px;
    background: linear-gradient(
        to top, 
        #ef2f21 25%, 
        #fa5624 0%, 
        #fa5624 50%, 
        #6fe326 100%
      );
      width: 100%;
      height: 100px;
}
#winnername
{
text-align: center;  
font-size: 50px; 
}

.current-player-border {
    border: 1px solid #000; /* Set the color you want for the border */
}



#winnerboardcolour
{
    display: none;
    border: 3px solid px;
    background: linear-gradient(
        to top, 
        #ef2f21 25%, 
        #fa5624 0%, 
        #fa5624 50%, 
        #6fe326 100%
      );
      width: 100%;
      height: 100px;
}
#namecolour
{
text-align: center;  
font-size: 50px; 
}
