
      body
      {
        height: 100vh;
        background: linear-gradient(
            to top, 
            #2c56ff 25%, 
            #2c56ff 0%, 
            #1e65b6 50%, 
            #b6701e 100%
          );
          background-repeat: no-repeat;
      }
      .title
      {
        color: #2c56ff;
        text-align: center;
        display: grid;
	font-family: "Audiowide", cursive;
	color: #333;}
      
      
      .box {
            /* background-color: black; */
        padding:3%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
 
        p {
            font-size: 17px;
            align-items: center;
        }
 
        .boxalink{
            display: inline-block;
            background: linear-gradient(
                to top, 
                #2c56ff 25%, 
                #2c56ff 0%, 
                #1e65b6 50%, 
                #b6701e 100%
              );
              color: #000;
            padding: 15px;
            border-radius: 3px;
        }
 
        .modal {
           
            /* align-items: center; */
            width: 100%;
            display: flex;
            justify-content: center;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            
            transition: all 0.4s;
            visibility: hidden;
            opacity: 0;
            
        }
        .modal-visible {
            visibility: visible;
            opacity: 1;
        }
    
        .modal-devisible {
            visibility: hidden;
            opacity: 0;
        }
        .content {
            
            position: absolute;
            background: linear-gradient(
                to top, 
                #2c56ff 25%, 
                #2c56ff 0%, 
                #1e65b6 50%, 
                #b6701e 100%
              );
              display: flex;
              flex-direction: column;
            /* background: rgb(42, 119, 122); */
            width: 60%;
            padding: 1em 2em;
            border-radius: 4px;
        }
 .playerbuttons{
    padding: 2%;
    
    background: linear-gradient(
        to top, 
        #2c56ff 25%, 
        #2c56ff 0%, 
        #1e65b6 50%, 
        #b6701e 100%
      );
 }
 .playdiv
 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
 }
 .box-play
 {

    @media only screen and (min-width: 600px) {
        /* For tablets: */
        font-size: 17px;
    align-items: center;
    padding: 2%;
    width: 20%;
    border-radius: 5%;
      }
      @media only screen and (max-width: 500px) {
        font-size: 17px;
        align-items: center;
        padding: 5%;
        width: 60%;
        border-radius: 8%;
      }
  
    background: linear-gradient(
        to top, 
        #2c56ff 25%, 
        #2c56ff 0%, 
        #1e65b6 50%, 
        #b6701e 100%
      );
 }
    .modal:target {
            visibility: visible;
            opacity: 1;
        }
 
        .box-close {
            position: absolute;
            top: 0;
            right: 5px;
            color: #111010;
            background: linear-gradient(
                to top, 
                #2c56ff 25%, 
                #2c56ff 0%, 
                #1e65b6 50%, 
                #b6701e 100%
              );
            text-decoration: none;
            font-size: 100%;
        }



/*code copied from google for heading purpose*/



  
